html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Montserrat','Noto Sans', sans-serif;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    /* overflow-x: hidden; */
	line-height: 1;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
/* 
background-color: #000000; */
   
   
    width: 100%; 
    margin:0 auto; 
}
body {
    background-color: #000000;
}

.wrapper {
    overflow: hidden;
    max-width: 1440px; 
    margin:0 auto; 
}
.wrapper_two {
    height: 1060px;
    max-width: 1440px; 
    margin:0 auto; 
}
.wrapper_three {
  max-width: 1440px;
  margin: 0 auto;
}
.wrapper_full {
    position: relative;
background-image:  linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%),url("./img/barmen.png") !important;
background-repeat: no-repeat;
background-position: top center;
background-size: cover;

}
.wrapper_qr {
    top: 255px;
    height: 682px;
    position: relative;
background:  
linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%),
url("./img/backgroundQR.png");
background-repeat: no-repeat;
background-position:center;
background-size: cover;

}
main {
width: auto;  
}
.header_inner{
    background-color: #000000;
    display: flex;
    padding-top: 23px;
   
   
   
}
.logo_link {
    display: flex;
    align-items: center;
}
.header_logo{
margin-left: 85px;

}
.header_notab {
margin-left: 8px;



}
.header_nav {
display: flex;
align-items: center;
gap: 14px;
margin-left: 148px;
}


.header_login-pic {
font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
border: 1px solid #000000;
text-decoration: none;
border-bottom: 1px solid #FFFFFF;

}
.header_login-pic:hover {
color: rgb(218, 186, 10);
border-bottom: 1px solid  rgb(218, 186, 10);
transition: 0.7s;
}
.section_one {
position: relative;
display: flex;


}
.about_left {
z-index: 1;
}
.about_head_mob {
display: none;
}
.about_head {
padding-top: 143px;
padding-left: 100px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 70px;
display: flex;
align-items: flex-end;

color: #FFFFFF;

}
.about_description {
margin: 129px 0px 0px 205px;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: flex-end;

color: #FFFFFF;

}
.left_line {
position: relative;

left: -1px;
top: -42px;

margin-left: 55px;
width: 139px;
height: 0px;
border: 3px solid #FFFFFF;
transform: rotate(120.61deg);
}
.left_line::after {
content: "";
position: absolute;
width: 125px;
height: 125px;
left: -71px;
top: -61px;
background: rgba(96, 92, 234, 0.5);
filter: blur(50px);
}



.phone_img {
position: relative;
top: -130px;


}
.about_right::before {
content: "";
position: absolute;
width: 662px;
height: 783px;
right: 100px;
top: -107px;
background: rgba(250, 0, 255, 0.2);
filter: blur(125px);
transform: rotate(-105.26deg);
}
.wrapper_icon {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 163px 0px 100px;
margin-bottom: 25px;
}
.about_text {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 70px;
display: flex;
align-items: flex-end;
color: #FFFFFF;


}
.appstore_icon {
    /* margin-left: 360px; */
}
.playmarket_icon {
margin-left: 29px;
}
.alert_cookieMob {
display: none;
}
.alert_cookie {
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 100px;
padding-right: 24px;
max-width: 1440px;
height: 93px;
background: #212834;
}
.text_cookie {
font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;

}
button{
background: rgba(255, 255, 255, 0.1);
border: 0.5px solid #FFFFFF;
border-radius: 6px;
padding: 12px 41px 10px 41px;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
}
button:hover {
background: rgb(218, 186, 10);
transition: 0.7s;
cursor: pointer;
}
.section_info {
margin: 61px 15px 0px 15px;
display: flex;
align-items: center;
justify-content: center;
}
.info_one {
padding: 64px 73px 62px 55px;
display: flex;
gap: 30px;
flex-direction: column;
box-sizing: border-box;
width: 503px;
border: 2px solid rgba(255, 255, 255, 0.5);
border-radius: 22px;
    
}
.one_text {
font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 41px;
display: flex;
align-items: flex-end;
color: #FFFFFF;

}
.one_mail {
font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
text-decoration-line: underline;
color: #FFFFFF;

}

.info_two {
width: 503px;
display: flex;
flex-direction: column;
gap: 30px;
padding: 97px 123px 110px 55px;
margin-left: 81px;
display: flex;
box-sizing: border-box;    
border: 2px solid rgba(255, 255, 255, 0.5);
border-radius: 22px;
}
.two_text {
font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 41px;
color: #FFFFFF;

}
.two_login {
font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
text-decoration-line: underline;
color: #FFFFFF;
}
.mission_block {
display: flex;
}
.mission_pic {
height: 1300px;
}

.mission_img {
position: relative;
top: -240px;
left: -248px;
width: 999px;
transform: rotate(90deg);
}
.mission_promo {
position: relative;
}

.mission_promo::before {
content: " ";
position: absolute;
width: 85px;
height: 85px;
right: 211px;
top: 290px;
background: #F101BF;
opacity: 0.7;
filter: blur(50px);
}
.promo_head{
margin: 263px 30px 0px 0px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 51px;
line-height: 62px;
color: #FFFFFF;
}
.promo_description {
font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: flex-end;
color: #FFFFFF;

}
.section_scanner {
    position: absolute;
    top: 300px;
    margin-top: 274px;
    display: flex;
    align-items: center;
    gap: 216px;
}
.scanner_left {
top: 460px;
margin-left: 100px;
display: flex;
gap: 50px;
}
.scanner_right {
    display: flex;
    margin-top: 221px;
    flex-direction: column;
    gap: 23px;
}

.scanner_one {
width: 333px;
left: 100px;
top: 2937px;
    
}
.scanner_two {
width: 333px;
left: 482px;
top: 2937px;
    
}
.scanner_head {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 51px;
line-height: 62px;
color: #FFFFFF;
}
.scanner_description {
    padding-right: 87px;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;

}
.section_graph {
    margin: 368px 15px 0px 100px;
    display: flex;
    gap: 124px;
}
.graph_imgMob {
    display: none;
}
.graph_left {
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.graph_head {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 51px;
line-height: 62px;

color: #FFFFFF;

}
.graph_text {
font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;

color: #FFFFFF;

}
.section_qr {
    display: flex;
}
.qr_text {
    display: flex;
    flex-direction: column;
    margin-left: 123px;
    position: relative;
    top: 589px;
    gap: 25px;

}
.icons_wrapp {
    display: flex;
    gap: 28px;
}
.qr_heads {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 51px;
    line-height: 62px;
    color: #FFFFFF;
}
.qr_description {
    padding-right: 203px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    
    
    color: #FFFFFF;
}
.qr_img {
    margin-right: 56px;
    display: flex;
    gap: 80px;
}
.qr_night {
    position: absolute;
    top: 0;
    right: 50px;
}
.qr_left {
    position: relative;
    width: 333px;
}
.qr_right {
    position: relative;
    top: 605px;
    width: 333px;
}
.qr_background {
   display: none;
}










@media (max-width: 769px) {
    
.wrapper {
 max-width: 768px;
margin:0 auto;
overflow: hidden;
margin:0 auto; 
    }
.wrapper_full {
background-image:  linear-gradient(179.83deg, #000000 -1.85%, rgba(0, 0, 0, 0.67) 11.21%, rgba(0, 0, 0, 0) 54.71%, #000000 83.92%),url("./img/barmen.png");
background-repeat: no-repeat;
background-position: top center;
        background-size: contain;
        
        
        }
        .wrapper_two {
            height: auto;
        }
.wrapper_qr {
    position: static;
    background:  
    linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%),
    url("./img/backgroundLeft.png") top;
    background-repeat: no-repeat;
    background-size: contain;
    
        
        }
    .header_inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 15px 0px 15px;
       
    }
    .header_notab {
    width: 47px;
    height: 12px;
        
    }
    .header_user-pic {
    display: none;
    }
    .header_logo{
    width: 52px;
    height: 53px;
    margin-left: 0px;
    }
    .header_login-pic {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    border: 1px solid #000000;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 6px;
    }
   
    .about_left {
    display: flex;
    }
    .about_head {
    display: none;
    }
    .about_head_mob {
    display: initial;
    margin: 117px 0px 0px 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FFFFFF;
    }
    .about_description {
    margin: 24px 0px 0px 15px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    }
   
    .about_left {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
    .about_right::before {
    content: "";
    position: absolute;
width: 363px;
height: 430px;
left: 104px;
top: 0px;

background: rgba(250, 0, 255, 0.5);
filter: blur(125px);
transform: rotate(-90.69deg);
    }
    .phone_img {
        position: relative;
        margin-top: 158px;
       margin-right: -93px;
        height: 323px;
    }
    
    .left_line {
    display: none;
    }
   
    .about_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    margin: 113px 0px 34px 46px;

    }
    .wrapper_icon {
        display: block;
        padding: 0px;
    }
    .appstore_icon {
    margin-left: 95px;
    width: 185px;
    height: 60px;
    }
    .playmarket_icon {
    margin-left: 95px;
    width: 185px;
    height: 60px;
    margin-bottom: 10px;
    }
    .alert_cookie {
    display: none;
    }
    .alert_cookieMob {
        padding: 23px 15px 22px 15px;
        display: initial;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        background: #212834;
    }
    .text_cookieMob {
     
font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #FFFFFF;

    }
    .button_cookieMob {
        font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #FFFFFF;

    }
    .section_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    }
    .info_one {
        padding: 0;
        gap: 0px;
    width: 345px;
    height: 233px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 21.3671px;
    }
    .one_text {
    padding: 39px 54px 30px 33px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    }
    .one_mail {
    margin-left: 33px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #FFFFFF;

    }
    .info_two {
    padding: 35px;
    margin-left: 0;
    width: 345px;
    height: 167px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 21.3671px;
    }
    .two_text {
     padding: 0;
     font-family: 'Noto Sans';
     font-style: normal;
     font-weight: 700;
     font-size: 24px;
     line-height: 33px;
     color: #FFFFFF;

    }
    .two_login {
    width: 48px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    }
    
    .mission_img {
    margin-top: 163px;
    width: 346px;
    transform: none;
    left: -79px;
    }
    
.mission_block {
    margin-left: 15px;
        flex-direction: column-reverse;
    }
    .mission_pic {
        height: 470px;
        margin-left: 75px;
        margin-top: 163px;
    }
    .mission_promo {
        top: 110px;
    }
    .mission_promo::before {
        top: -16px;
        left: -14px;
    }
.promo_head::before {
    top: 1594px;
}
    .promo_head {
margin: 0px 73px 0px 0px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: flex-end;

color: #FFFFFF;
    }
   
    .promo_description {
        font-size: 16px; 
line-height: 22px;
        margin-top: 24px;
    }
    .section_scanner {
    margin-top: 0px;
        position: static;
        flex-direction: column-reverse;
    }
    .scanner_head {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;

    }
    .scanner_left {
        margin-right: 100px;
        margin-top: 0px;
        flex-direction: column;
    }
    .scanner_right {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 182px 15px 0px 8px;
    }
    .scanner_one {
width: 287px;
    }
    .scanner_two {
width: 287px;
    }
    .section_graph {
        margin-top: 0;
        margin: 144px 0px 0px 16px;
        flex-direction: column;
        align-items: flex-end;
    }
    .graph_head {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
       
        color: #FFFFFF;
        
    }
    .graph_text {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        
        color: #FFFFFF;
    }
    .graph_img {
        display: none;
    }
    .graph_imgMob {
        display: block;
    }
    .section_qr {
        flex-direction: column;
    }
    .qr_background {
      display: initial;  
    margin-top: 280px;
    margin-left: 63px;

    }
    .qr_img {
        top: -64px;
        gap: 0px;
        align-items: center;
        margin-right: 0px;
        position: relative;
        flex-direction: column;
    }
    .icons_wrapp {
        margin-top: 50px;
        gap: 24px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .qr_text {
        margin-left: 15px;
        top: 207px;
    }
    .qr_left {
        bottom: 75px;
        width: 281px;
    }
    .qr_right {
        top: -33px;
        width: 281px;
    }
    .qr_heads {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
    .qr_description {
        padding-right: 0px;
        font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

color: #FFFFFF;

    }
    .appstore_qr {
        width: 185px;
        height: 60px;
    }
    .playmarket_qr {
        width: 185px;
        height: 60px;
    }
    .qr_night {
        width: 88px;
        position: relative;
        top: -112px;
        right: 91px;
    }
 }    
 @media (max-width: 1320px) and (min-width: 768px) {
    .section_scanner {
        gap: 200px;
        margin: 0px 15px 0px 15px;
        flex-direction: column-reverse;
    }
    .scanner_left {
        gap: 10px;
        margin-left: 0px;
    }
    .section_graph {
        flex-direction: column;
        margin-top: 500px;
    }
    
    .section_qr {
        flex-direction: column;
    }

    
    .qr_img {
        justify-content: center;
    }
    .qr_left {
        top: 605px;
    }

 }